@charset "utf-8";
/* float clearing for IE6 */
body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
}

a
{
	text-decoration:none;
	
}

a:focus {
    outline: 0;
}


a img
{
	border:none;
}

a img:hover
{
	opacity:0.5;
	-moz-opacity: 0.5; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	
}

.non_opacity a img:hover
{
	opacity:1;
	-moz-opacity: 1; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
}

form
{
	margin:0px;
	padding:0px;
}

input, select, textarea
{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	background:none;
	outline:none;
	font-size:11px;
}

.clear
{
	clear:both;
}

.fixpng
{
	behavior: url("/js/iepngfix.htc");
}